@model BlogSite.Models.Category
@{
    ViewBag.Title = "AddArticle";
    Layout = "~/Views/Shared/_AdminUI.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("AddArticle", "Articles", FormMethod.Post))
            {
                <div class="card-body col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Makale Başlığı</label>
                        <input type="text" class="form-control" name="Title" id="exampleInputEmail1" placeholder="Lütfen makalenin başlığını giriniz.">
                    </div>
                    <div class="form-group">
                        <label>Makalenin Kategorisi Seç</label>
                        @*@Html.DropDownListFor("Categories", (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })*@
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Makalenin Anahtar Kelimeleri </label>
                        <input type="text" class="form-control" name="Keywords" id="exampleInputEmail1" placeholder="Lütfen makalenin anahtar kelimelerini giriniz. (Örneğin: kitap,bilim,teknoloji)">
                    </div>
                </div>
                <div class="card  card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            Makale Editorü

                        </h3>
                        <!-- tools box -->
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
                                    title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body pad">
                        <div class="mb-3">
                            <textarea class="textarea" name="Contents" placeholder="Place some text here"
                                      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>

                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Makaleyi Yayınla</button>
                </div>
            }

        </div>



    </div>

    <!-- /.content -->
</div>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">

        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section>

@section editorScript{
    <script>
        //Text Editor
        $(function () {
            // Summernote
            $('.textarea').summernote()
        })
    </script>
}